<h1>Listing questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Question</th>
    <th>Answer type</th>
    <th>Create date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.question %></td>
    <td><%= question.answer_type %></td>
    <td><%= question.create_date %></td>
    <% if current_user %> 
        <% if is_answered?(question.id) < 0 %>
           <td>
            <button class="btn" type="submit">
              <%= link_to 'Answer',new_answer_path(:question_id => question.id ) %>
              </button>
            </td>
        <% end %>
    <% end %>
    
 <td>
   <button class="btn" type="submit">
  <%= link_to 'Show', question %>
  </button>
</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', surveys_path %>
