<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Answer type:</b>
  <%= @question.answer_type %>
</p>

<p>
  <b>Create date:</b>
  <%= @question.create_date %>
</p>


<%= link_to 'Edit', edit_question_path %> 
