<h1>Listing surveys</h1>
<table>
  <tr>
    <th><h1>Survey</h1></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @surveys.each do |survey| %>
  <tr>
    
    <td><%= survey.title %></td>
    <td><%= link_to 'New Question', new_admin_question_path(:survey_id => survey.id) %></td>
    <td><%= link_to 'Edit Survey', edit_admin_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end  %>
</table>

 <br />
 <table>
     <tr><%= link_to 'New Survey', new_admin_survey_path %></tr>
  <br />
</table>