<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= @question.question %>
  <%= f.hidden_field :question_id, :value => params[:question_id] %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label :answer %><br />
    <% if @question.answer_type == "combo" %>
     <%= f.select :answer, @question.possible_answers.split("|") %>
     <% else %>
     <%= f.text_field :answer %>
     <% end %>
      </div>
  <div class="field">
    <%= f.label :create_date %><br />
    <%= f.datetime_select :create_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
