<h1>Listing questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Question</th>
    <th>Answer type</th>
    <th>Create date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.question %></td>
    <td><%= question.answer_type %></td>
    <td><%= question.create_date %></td>
    <td><%= link_to 'Answer',new_admin_answer_path(:question_id => question.id) %></td>
  </tr>
<% end %>
</table>
